body{
    margin:0;
    font-family:'Segoe UI',Arial,sans-serif;
    background:var(--fondo);
    color:var(--texto);
}


.card{
    background:white;
    border-radius:18px;
    padding:25px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}


button{
    border:none;
    cursor:pointer;
    border-radius:8px;
    padding:8px 15px;
    background:var(--dorado);
    color:white;
    font-weight:600;
}


button:hover{
    background:var(--dorado-hover);
}


.table{
    border-radius:15px;
    overflow:hidden;
}


.badge{
    padding:5px 12px;
    border-radius:20px;
    font-size:12px;
    font-weight:bold;
}


.pagado{
    background:#dcfce7;
    color:var(--verde);
}


.pendiente{
    background:#fef3c7;
    color:var(--naranja);
}


.vencido{
    background:#fee2e2;
    color:var(--rojo);
}


.cuota-card{

    background:white;
    border-radius:15px;
    padding:18px;
    margin-bottom:12px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    box-shadow:0 5px 15px rgba(0,0,0,.06);
}


.cuota-info h4{
    margin:0;
}


.fecha{
    font-size:13px;
    color:#667085;
}