:root{
    --azul:#081828;
    --azul2:#102944;
    --dorado:#c8a04b;
    --dorado-hover:#e0bd67;

    --fondo:#eef2f7;
    --blanco:#ffffff;

    --verde:#1f9d55;
    --naranja:#d97706;
    --rojo:#dc2626;

    --texto:#172033;
}